* {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

.cajaicono {
  background-color: #90e0ef;
}

.card {
  background-color: #ade8f4;
}

h1 {
  border-bottom: #0096c7 solid 4px;
}

h3 {
  border-bottom: #0096c7 solid 4px;
}

.iconos {
  color: #fff;
}

.marca {
  text-transform: uppercase;
  font-size: 35px;
}
